@media screen and (max-width: 400px) {
    .soc-icon{
        display: none;
    }
    .nav__button{
        display: flex;
    }
    .product__list{
        flex-direction: column;
    }
    .products{
        padding:10px;
    }
    .about__grid{
        flex-direction: column;
    }
    .about_card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}